@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Pages/DisplaySpinner.razor.rz.scp.css */
.lds-heart[b-t2bpqnwted] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

    .lds-heart div[b-t2bpqnwted] {
        top: 32px;
        left: 32px;
        position: absolute;
        width: 32px;
        height: 32px;
        background: #fff;
        animation: lds-heart-b-t2bpqnwted 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

        .lds-heart div[b-t2bpqnwted]:after,
        .lds-heart div[b-t2bpqnwted]:before {
            content: " ";
            position: absolute;
            display: block;
            width: 32px;
            height: 32px;
            background: #fff;
        }

        .lds-heart div[b-t2bpqnwted]:before {
            left: -24px;
            border-radius: 50% 0 0 50%;
        }

        .lds-heart div[b-t2bpqnwted]:after {
            top: -24px;
            border-radius: 50% 50% 0 0;
        }

@keyframes lds-heart-b-t2bpqnwted {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}
/* /Pages/Rectangle.razor.rz.scp.css */
#myImg[b-5ufbd2scy1] {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover[b-5ufbd2scy1] {
        opacity: 0.7;
    }

#myImg[b-5ufbd2scy1] {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover[b-5ufbd2scy1] {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal[b-5ufbd2scy1] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content[b-5ufbd2scy1] {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
}


/* Caption of Modal Image */
#caption[b-5ufbd2scy1] {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content[b-5ufbd2scy1], #caption[b-5ufbd2scy1] {
    animation-name: zoom-b-5ufbd2scy1;
    animation-duration: 0.6s;
}

@keyframes zoom-b-5ufbd2scy1 {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close[b-5ufbd2scy1] {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover[b-5ufbd2scy1],
    .close:focus[b-5ufbd2scy1] {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content[b-5ufbd2scy1] {
        width: 100%;
    }
}
/* /Pages/Triangle.razor.rz.scp.css */
#myImg[b-hcg31driki] {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover[b-hcg31driki] {
        opacity: 0.7;
    }
#myImg[b-hcg31driki] {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover[b-hcg31driki] {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal[b-hcg31driki] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content[b-hcg31driki] {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
}


/* Caption of Modal Image */
#caption[b-hcg31driki] {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content[b-hcg31driki], #caption[b-hcg31driki] {
    animation-name: zoom-b-hcg31driki;
    animation-duration: 0.6s;
}

@keyframes zoom-b-hcg31driki {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close[b-hcg31driki] {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover[b-hcg31driki],
    .close:focus[b-hcg31driki] {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content[b-hcg31driki] {
        width: 100%;
    }
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-h901d1om0h] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-h901d1om0h] {
    flex: 1;
}

.sidebar[b-h901d1om0h] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-h901d1om0h] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-h901d1om0h]  a, .top-row[b-h901d1om0h]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-h901d1om0h]  a:hover, .top-row[b-h901d1om0h]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-h901d1om0h]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-h901d1om0h] {
        display: none;
    }

    .top-row.auth[b-h901d1om0h] {
        justify-content: space-between;
    }

    .top-row[b-h901d1om0h]  a, .top-row[b-h901d1om0h]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h901d1om0h] {
        flex-direction: row;
    }

    .sidebar[b-h901d1om0h] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h901d1om0h] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-h901d1om0h]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-h901d1om0h], article[b-h901d1om0h] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dlp7n5gwn2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dlp7n5gwn2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dlp7n5gwn2] {
    font-size: 1.1rem;
}

.oi[b-dlp7n5gwn2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-dlp7n5gwn2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dlp7n5gwn2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dlp7n5gwn2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dlp7n5gwn2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-dlp7n5gwn2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-dlp7n5gwn2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dlp7n5gwn2] {
        display: none;
    }

    .collapse[b-dlp7n5gwn2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-dlp7n5gwn2] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
