@page "/"


<PageTitle>Index</PageTitle>

<h1>Dear visitor,</h1>
<div>
	<p>This app help you to calculate figures area  by given sides.</p>
	<br />
	<p>Choose on the bar menu the desire figure</p>
</div>
<div>
	<p>This is the pet project. Blazor Web Assembly is using library "Figures". The library was created according to SOLID principles.</p>

	<p>Feel free to contact with me with any questions about the app</p>
</div>
