@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello</h1>
<div>
	<p>This app help you to calculate area figures by sides.</p>
	<br />
	<p>Choose on the bar menu the desire figure</p>
</div>
<button><a href="/AreaCalculation/triangle">Triangle</a></button>
