@page "/"


<PageTitle>Index</PageTitle>

<h1>Dear visitor,</h1>
<br />
<div>
	<p>Thank you for visiting!</p>
	<p>This app help you calculate figures area  by given sides.</p>
	
	<p>Choose on the bar menu the desire figure</p>
	<hr />
	<br />
</div>
<div>
	<p>This is my pet project.</p> 
	<p>Blazor Web Assembly is using library "Figures". The library was created according to SOLID principles.</p>
	<p>All pages are interactive. The value is changed depends on inputs. Also, toastr notifications are coming out.</p>
	<p>JavaScript and CSS files are implemented for pages interactions.</p>
	<hr />
	<p>Feel free to contact me with any questions about the app</p>
</div>
