@page "/"



@if (message == null)
{
	<DisplaySpinner></DisplaySpinner>

}
<PageTitle>Index</PageTitle>
<Animate Animation="Animations.ZoomIn" DurationMs=1000>
<h1>@message</h1>
</Animate>
<br />
<Animate Animation="Animations.FadeUp" DurationMs=1000>
<div>
	<p>Thank you for visiting!</p>
	<p>This app help you calculate figures area  by given sides.</p>
	
	<p>Choose on the bar menu the desire figure</p>
	<hr />
	<br />
</div>
</Animate>
<Animate Animation="Animations.ZoomOut" DurationMs=1000>
<div>
	<p>This is my pet project.</p> 
	<p>Blazor Web Assembly is using library "Figures". The library was created according to SOLID principles.</p>
	<p>All pages are interactive. The value is changed depends on inputs. Also, toastr notifications are coming out.</p>
	<p>JavaScript and CSS files are implemented for pages interactions.</p>
	<hr />
	<p>Feel free to contact me with any questions about the app</p>
	<div>
		<p><i class="bi bi-envelope-at-fill"></i>Contact me by email: evulet2.08@gmail.com</p>
		<br />
		<a href="https://lenar.w3spaces.com/">My web site is here </a>
	</div>
</div>
</Animate>


<br />
<br />

<button  class="btn-success img-thumbnail" @onclick="changeImg"
		width="200" height="50">
	@*<img id="myImg" class="img-fluid img-thumbnail" src="Image/rectangle.jpg" alt="Rectangle" width="20" height="20">*@
	<i id="myImg" class="bi bi-envelope-at-fill">Contact me</i>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		
		<span class="close">&times;</span>
		<img class="modal" id="img01">
		@*<div id="caption"></div>*@
		<SendEmail />
		
	</div>
</button>





@code{
	[Inject]
	public IJSRuntime Js { get; set; }
	private string message = "Dear visitor,";
	private async Task changeImg()
	{
		await Js.InvokeVoidAsync("changeImg");
	}

	
}