.box_1 {
    width: 50px;
    height: 50px;
    margin: 100px auto;
}

.box_1 {
    border-top: 5px solid red;
    border-right: 5px solid lime;
    border-bottom: 5px solid blue;
    border-left: 5px solid yellow;
}

.box_2 {
    width: 50px;
    height: 50px;
    margin: 100px auto;
}

.box_2 {
    border-top: 60px solid red;
    border-right: 60px solid lime;
    border-bottom: 60px solid blue;
    border-left: 60px solid yellow;
}

.box_3 {
    width: 0;
    height: 0;
    margin: 100px auto;
}

.box_3 {
    border-top: 60px solid red;
    border-right: 60px solid lime;
    border-bottom: 60px solid blue;
    border-left: 60px solid yellow;
}

.box_4 {
    width: 0;
    height: 0;
    margin: 100px auto;
}

.box_4 {
    border-top: 60px solid red;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
}

.box_5 {
    width: 0;
    height: 0;
    margin: 100px auto;
}

.box_5 {
    border-top: 120px solid red;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
}
