@page "/triangle"
@inject IToastService toastService

@if(triangle == null)
{
    <DisplaySpinner></DisplaySpinner>

}
<h2>Triangle</h2>
<br />
<button @onclick="changeImg">
	<img id="myImg" class="img-fluid img-thumbnail" src="/Image/triangle.jpg" alt="Triangle" width="300" height="200">
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-content" id="img01">
		<div id="caption"></div>
	</div>
</button>
<br />
<br />
<br />
<div class="row">
	<div class="col-6 border p-3">
		<div>
			
			X:<input type="number" style="width:100px" @bind-value=@sides[0] @bind-value:event="oninput" /><br />
		</div>
		<br /><br /><br />
		<div>
			Y:<input type="number" style="width:100px" @bind-value=@sides[1] @bind-value:event="oninput" /><br />

		</div>
		<br /><br /><br />
		<div>
			Z:<input type="number" style="width:100px" @bind-value=@sides[2] @bind-value:event="oninput" /><br />

		</div>
		<br /><br />
	</div>
	<div class="col-6 border p-3">
		
		<button class="btn btn-success" @onclick="CheckTriangle">
		<b>Calculate triangle area</b></button>
		<br /><br />
		<div>Is that possible to create a triangle by given sides?:<br />
			<p class="status">@message</p>
		</div>
		<br /><br />
		<p role="status">Triangle area:@message1</p>
		<br /><br />
		<p role="status">Has a triangle have a right corner?:<br />@message2 </p>
		
	</div>
	
</div>
@code {

	[Inject]
	public IJSRuntime Js { get; set; }

	private double area = 1;
	private int[] sides = new int[3] { 7, 5, 6 };
	string message="";
	string message1
	= "";
	string message2
	= "";
	ITriangle triangle = Figures.GetTriangle();
	public bool CreateTriangle()
	{
		if((sides[0]==0)&&(sides[1]==0)
				&&(sides[1]==0))
		{

			return false;
		}

		if(triangle.IsTriangle(sides)==true)
		{
			message = "Triangle created!";
			Console.WriteLine("true"+" "+ sides[0]+" "+area);
			return true;

		}
		else
		{
			message = "Checked sides! Creation failed";
			Console.WriteLine("false");
			return false;

		}
	}
	public double CalculateArea()
	{
		area = Math.Round(triangle.Area(sides),2);
		Console.WriteLine(area);
		return area;
	}
	public bool IsTriangleRight()
	{
		if (triangle.IsTriangleRight(sides))
		{

			return true;
		}
		else
		{

			return false;
		}
	}
	public void CheckTriangle()
	{ 
		bool result = CreateTriangle();
		if (result)
		{
			message = "Triangle created!";

		}
		else
		{
			message = "Checked sides! Creation failed";
			toastService.ShowError("Triangle Creation Fault! Change sides sizes!");
		}
		if ((CalculateArea() > 0) && (result))
		{
			message1 = area.ToString();
			toastService.ShowSuccess("Triangle successfully created! Get the area!");
		}
		else
		{
			message1 = "Calculation unavailable!";
		}
		if (IsTriangleRight())
		{
			message2 = "Triangle has a right corner";
		}
		else
		{
			message2 = "Triangle doesn't have a right corner";
		}

	}
	private async Task changeImg()
	{
		await Js.InvokeVoidAsync("changeImg");
	}

	
}
